<%= form_with(model: [:admin, song], local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>
      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title , "曲名" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :artist_id , "アーティストID" %>
    <%= form.text_field :artist_id %>
  </div>

  <div>
    <%= form.label :composer_id , "作曲者ID" %>
    <%= form.text_field :composer_id %>
  </div>

  <div>
    <%= form.label :lyricist_id , "作詞者ID" %>
    <%= form.text_field :lyricist_id %>
  </div>
  
  <div>
    <%= form.label :choreographer_id , "振付師ID" %>
    <%= form.text_field :choreographer_id %>
  </div>

  <div>
    <%= form.label :video , "動画ファイル名" %>
    <%= form.text_field :video %>
  </div>

  <h2>Badge</h2>
  
  <div>
    <%= form.label :beginners_badge , "初心者向け" %>
    <%= form.check_box :beginners_badge %>
  </div>

  <div>
    <%= form.label :person_badge , "本人映像" %>
    <%= form.check_box :person_badge %>
  </div>

  <div>
    <%= form.submit "投稿する" %>
  </div>

<% end %>
